@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

$PC: 1000px;
$TAB: 850px;
$MOBILE: 500px;

$header-height: 80px;
$chat-container-height: 70px;

@mixin Responsive($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

:root {
	--other-color: blue;
	--me-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fredoka', sans-serif;
	&::-webkit-scrollbar {
		width: 0;
	}
}
body {
	font-size: 62.5%;
}

.header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	border-bottom: 1px solid black;

	.active-count {
		position: fixed;
		top: 1rem;
		left: 1rem;
		padding: 0.5rem;
		font-size: 2rem;
	}
	.title {
		padding: 1rem;
		font-size: 2.4rem;
		font-weight: bold;
		text-align: center;
	}
}
#messages {
	position: relative;
	padding: 1rem;
	margin: 0.5rem auto;
	max-width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	list-style-type: none;
	overflow: hidden auto;

	height: calc(100vh - #{$header-height} - #{$chat-container-height});

	li {
		border-radius: 4rem;
		font-size: 1.4rem;
		padding: 0.5rem;
		margin: 0.4rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&.other {
			padding-left: 2rem;
			text-align: left;
			align-items: flex-start;
			.mesContent {
				color: var(--other-color);
			}
		}
		&.me {
			padding-right: 2rem;
			text-align: right;
			align-items: flex-end;
			.mesContent {
				color: var(--me-color);
			}
		}

		&.typing-dots {
			position: absolute;
			top: 0;
			left: 0;
			height: auto;
			display: block;
			&::after {
				content: '';
				position: absolute;
				left: 30px;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: black;
				box-shadow: 20px 0 0 0 black, 40px 0 0 0 black;
			}

			&.hide {
				display: none;
			}

			.mesFrom {
				color: darkgrey;
			}
		}

		.mesFrom {
			color: black;
			font-size: 1.2rem;
		}
		.mesContent {
			font-size: 2rem;
		}
	}

	@include Responsive($TAB) {
		max-width: 80%;
	}
}
#chat-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: $chat-container-height;
	$font-size: 1.4rem;

	input {
		padding: 0.6rem 1.5rem;
		border-radius: 0.5rem;
		font-size: $font-size;
		margin: 0.5rem;
		width: 80%;
		&::placeholder {
			font-style: italic;
		}
	}
	button {
		border: none;
		padding: 1rem;
		border-radius: 2rem;
		font-size: $font-size;
	}
}
